<div class="container marketing" ng-controller="bookController" >
	<h3 class="text-center">Enter details to Add Book:</h3>
	<div class="col-md-12 col-xs-12">
		<form>
			<div class="form-group">
				<label for="bookName">Enther Book Name: </label> <input
					type="text" class="form-control" ng-model="book.title" placeholder="Book Name">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Choose Author</label>
				<multiple-autocomplete ng-model="book.authors"
     object-property="authorName" 
     suggestions-arr="authors">
	 		</multiple-autocomplete>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Choose Genre</label>
				<multiple-autocomplete ng-model="book.genres"
     object-property="genre_name" 
     suggestions-arr="genres">
	 		</multiple-autocomplete>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Choose Publisher</label>
				<div class="form-item-container">
					<select style="height:34px;" class="form-control selectpicker" ng-model="selectedName" ng-options="publisher.publisherName for publisher in publishers">
					</select>
				</div>
				
			</div>
			<button type="button" class="btn btn-primary" ng-click="saveBook()">Save
				Book</button>
      
		</form>
	</div>
</div>
