<div class="container marketing">
	<h3 class="text-center">Update details to  Genre:</h3>
	<div class="col-md-12 col-xs-12">
		<form>
			<div class="form-group">
				<label for="genreName">Update Genre Name: </label> <input
					type="text" class="form-control" ng-model="genre.genre_name" placeholder="Genre Name">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Choose Book</label>
				<multiple-autocomplete ng-model="booklist"
		 				object-property="title"
		 				suggestions-arr="books">
					</multiple-autocomplete>
			</div>
			<button type="button" class="btn btn-primary" ng-click="updateGenre(genre.genre_id)">Update
				Genre</button>
		</form>
	</div>
</div>
