<div class="container marketing">
	<h3 class="text-center">Borrower {{borrower.name}}</h3>
	<div class="col-md-12 col-xs-12">
	
		<div class="jumbotron" ng-if="showmessage">
			<h3 class="text-center">No outstanding books</h3>
		</div>
		<div class="col-md-12 col-xs-12" ng-if="branches.length >0">
            <div class="form-group">
				<label for="exampleFormControlSelect1">Select Branch</label>
				<div class="form-item-container">
					<select style="height:34px;" class="form-control selectpicker" ng-change="addBookLoanBranch(selectedBranch,borrower.cardNo)" ng-model="selectedBranch"  ng-options="branch.branchName for branch in branches">
					</select>
				</div>
				
			</div>
        </div>
        <div class="col-md-12 col-xs-12" ng-if="books">
            <div class="form-group">
				<label for="exampleFormControlSelect1">Select Book</label>
				<div class="form-item-container">
					<select style="height:34px;" class="form-control selectpicker" ng-change="addBookLoanBook(selectedBook)" ng-model="selectedBook"  ng-options="book.title for book in books">
					</select>
				</div>
				
			</div>
        </div>
        <div class="col-md-12 col-xs-12">
            <button type="button" class="btn btn-primary" ng-if="!showmessage" ng-click="overrideDueDate(borrower.cardNo)">Override
				DueDate</button>
        </div>
	</div>
</div>
