<div class="container marketing" ng-controller="LibrarianBranchController">
	<h3>List of Branches in LMS:</h3>
	<div class="input-group">
      <input type="text" class="form-control" ng-model="searchString" ng-change="searchBranches()" placeholder="Search for...">
      <!-- <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
  </div>
	<br>
		<div class="col-md-10">
			<ul class="pagination">
				<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
				<li ng-repeat="n in [] | range: pagination.numPages"
					ng-class="{active: n == pagination.page}"><a href=""
					ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
				<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
			</ul>
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Branch Name</th>
				<th>Branch Address</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="branch in branches | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1}}</td>
				<td>{{branch.branchName}}</td>
					<td>{{branch.branchAddress}}</td>
				<!-- <td><span ng-repeat="b in a.books">{{b.title}} |</span></td> -->
				<!-- <td><button type="button" class="btn btn-danger" ng-click="goToUpdate(a.authorId)">Edit</button></td> -->
				<td><a href="#/librarian/editbranch/{{branch.branchId}}">Edit</td>
			</tr>
		</tbody>
	</table>
</div>
