<div class="container marketing" ng-controller="genreController">
	<h3>List of Genres in LMS:</h3>
	<div class="input-group">
      <input type="text" class="form-control" ng-model="searchString" ng-change="searchGenre()" placeholder="Search for...">
      <!-- <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
  </div>
	<br>
		<div class="col-md-10">
			<ul class="pagination">
				<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
				<li ng-repeat="n in [] | range: pagination.numPages"
					ng-class="{active: n == pagination.page}"><a href=""
					ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
				<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
			</ul>
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
                <th>Genre Name</th>
                <th>Books</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="genre in genres | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1}}</td>
				<td>{{genre.genre_name}}</td>
        <td><span ng-repeat="b in genre.books">{{b.title}} |</span></td>
				<!-- <td><span ng-repeat="b in a.books">{{b.title}} |</span></td> -->
				<!-- <td><button type="button" class="btn btn-danger" ng-click="goToUpdate(a.authorId)">Edit</button></td> -->
				<td><a href="#/admin/editgenre/{{genre.genre_id}}">Edit</td>
				<td><button type="button" class="btn btn-warning" ng-click="deleteGenre(genre.genre_id)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>
